<div>
<%= simple_form_for @auction, html: {class: 'form-horizobtal', multipart: true } do |f| %>
    <%= f.input :item_name, :label => "名稱" %>
    <%= f.input :narrative, :as => :text, :label => "描述" %>
    <br>
    <label>數量</label>
    </br>
    <%= f.input_field :quantity, :label => "數量" %>
    <%= f.input :price, as: :string, :label => "價格" %>
    <div class="control-group">
    <div class="controls">
    <%= file_field_tag "images[]", type: :file, multiple: true%>      
    </div>
    </div>
    <%= f.button :submit , :class => "btn btn-default"%>
    <%= link_to "Cancel", auctions_path, class: "btn btn-default" %>
  <% end %>
  </div>