<div>
<%= form_for @auction, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <label>名稱</label>
      <%= f.text_field :item_name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <label >描述</label>
      <%= f.text_field :narrative, :as => :text, :class=>"form-control"%>
  </div>
  <div class="form-group">
    <label >數量</label>
      <%= f.number_field :quantity, :class=>"form-control"%>
  </div>
  <div class="form-group">
    <label>價格</label>
      <%= f.number_field :price, as: :string, :class=>"form-control"%>
  </div>
    <div class="row">
      <div class="col-md-3">
        <%= file_field_tag "images[]", type: :file %>  
      </div>
    </div>
  <div class="form-group">
  <div class="row">
    <div class="col-md-3">
    <%= select_tag "root", options_from_collection_for_select(@cate_roots, "id", "category_name"), :prompt => "請選擇主要分類", :onchange => "sub_cate(this.value)" %>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3">
<!--     <%= select_tag name="auction[category_id]", id="auction_category_id"%>
 -->    <div class="auction">
        </div>
    </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-1">
    <button type="submit" class="btn btn-default">Create</button>
    </div>
    <div class="col-md-1 ">
    <%= link_to "Cancel", auctions_path, class: " btn btn-default" %>
    </div>
    </div>
<% end %>

    <script type="text/javascript">
        function sub_cate(value){
        $.ajax({
          type: "GET",
          url: '/sub_cate?id='+value,
          data: 'text',
          success: function(data){
            $(".auction").html(data);
          }
        })
      }
      $(document).ready(function(){
        $('#cate_root').change(function(){
        var parent_id = $("#cate_root").val();
        $.get("<%= auctions_path %>",
        { parent_id: parent_id },
        function(data){ }
      );
    }); 
    }); 
      </script>
</div>